<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href={{ url_for("static", filename="recipe_styles.css") }} />
         <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Solway&display=swap" rel="stylesheet">
         <script src="https://kit.fontawesome.com/85b0c2bd74.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Just Desserts</h1>
        <hr>
        <a href={{recipeURL}}><h2>{{recipeTitle}}</h2></a>
        <img class="center" src={{recipeImage}} alt={{recipeTitle}}>
        <div>
            <i class="fab fa-twitter"></i>
            <h3>{{tweetAuthor}}</h3>
            <h3>{{tweetDate}}</h3>
            <h3>{{relevantTweet}}</h3>
            <h3><a href="https://twitter.com/anyuser/status/{{tweetUrl}}">Tweet Link</a></h3>
        </div>
    </body>
</html>