<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href={{ url_for("static", filename="recipe_styles.css") }} />
         <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Solway&display=swap" rel="stylesheet">
         <script src="https://kit.fontawesome.com/85b0c2bd74.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Just Desserts</h1>
        <hr id="mainLine">
        <div class="prep">
            <a href={{recipeURL}}><h2>{{recipeTitle}}</h2></a>
            <p><strong>Ready in {{prepTime}} minutes!</strong></p>
            <p><strong>Makes about {{recipeServings}} servings!</strong></p>
        </div>
        
        <div class="container-1">
            <div class="box-1">
                <h3>Ingredients</h3>
                <hr>
                <ul>
                {%for i in range(0, ingredientsLen)%}
                    <li>{{recipeIngredients[i]}}</li>
                {%endfor%}
                </ul>
            </div>
            <div class="box-2">
                <img src={{recipeImage}} alt="{{recipeTitle}}">
            </div>
            <div class="box-3">
                <h3>Summary</h3>
                <hr>
                {{recipeSummary|safe}}
            </div>
        </div>
        
        <div class="twitter">
            <i class="fab fa-twitter"></i>
            <h3>{{tweetAuthor}}</h3>
            <h3>{{tweetDate}}</h3>
            <h3>{{relevantTweet}}</h3>
            <h3><a href="https://twitter.com/anyuser/status/{{tweetUrl}}">Tweet Link</a></h3>
        </div>
    </body>
</html>